<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904342259149-s9p5djgdagkkjlp75rfpaa57koph3d0m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904342259149-s9p5djgdagkkjlp75rfpaa57koph3d0m</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKRwTrEysvkZjDmvGOXvz3wws_uHqWoc</string>
	<key>GCM_SENDER_ID</key>
	<string>904342259149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-ef38c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-ef38c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904342259149:ios:e59e5e1b97d7f61bd1f084</string>
</dict>
</plist>